:root {
    --version: "0.0.1";
    --greyDark: #17202A;
    --greyMed: #212F3D;
    --greyLight: #2C3E50;
    --purDark: #4A235A;
    --purMed: #6C3483;
    --purLight: #8E44AD;
}

.scrollerInner-2YIMLh {
    background-color: var(--purMed);
}
